<div>

<form action="/login" method="get"> 
                      
    <h1> Login form </h1> 
                      
    <input class="box" type="text" name="name" id="name" 
    placeholder="Name"  required /><br> 
                      
    <input class="box" type="email" name="email" id="email" 
    placeholder="Email " required /><br> 
                      
    <input class="box" type="text" name="name" 
    id="name" placeholder="Password " required/><br> 
                      
                <br> 
    <input type="submit" value="login"> 
              
    </form>
   
</div>